@import url('https://fonts.googleapis.com/css?family=Hind:400,700');
* {
  --color-primary: #1D46DE;	       /*Main Primary color */
  --color-primary-1: #8097ED;
  --color-primary-2: #5B77DC;
  --color-primary-3: #072BAB;
  --color-primary-4: #092179;

  --color-secondary-1: #FFDB04;    /*Main Secondary color (1) */
  --color-secondary-1-1: #FFEC7A;
  --color-secondary-1-2: #FFE655;
  --color-secondary-1-3: #FDD800;
  --color-secondary-1-4: #B39900;

  --color-secondary-2: #FF8004;	   /* Main Secondary color (2) */
  --color-secondary-2-1: #FFBC7A;
  --color-secondary-2-2: #FFAA55;
  --color-secondary-2-3: #FD7D00;
  --color-secondary-2-4: #B35900;

  --harmonious-dark: #394059;
  --harmonious-light: #eeeff5;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	background-color: var(--harmonious-light);
	font-family: Hind, Calibri, Arial, Sans-serif;
	justify-content: flex-start;
}
.highlight {
  color: var(--color-secondary-2);
  font-weight: 700;
}
#indented {
  margin-left: 2em;
}
#indented2 {
  margin-left: 4em;
}
#indented3 {
  margin-left: 1em;
}
.textbody {
  font-size: 1em;
  font-weight: 400;
}
#indented3,
#indented2,
#indented,
.textbody {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
  display:inline-block;
}
form {
  width: 100%;
  margin-bottom: 3em;
}
.form {
  margin-bottom: 1em;
}
p a {
  color: var(--color-secondary-2);
}
p a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
.box{
	position: relative;
	width: 100%;
}
.box:before{
	content: "";
	display: block;
	padding-top: 50%;
}
.content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--harmonious-dark);
}
.contact-fon::before {
  content: "\1F57F\0020\0020";
}
.contact-fax::before {
  content: "\1F5B7\0020\0020";
}
.contact-mail::before {
  content: "\1F582\0020\0020";
}
.contact-tram::before {
  content: "\1F177\0020\0020";
}
.contact-park::before {
  content: "\1F17F\0020\0020";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3em;

}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
div.small-contact {
  flex: 1 1 auto;
  min-width: 100px;
  color: var(--color-primary);
  text-align: right;
  font-size: 1.5em;
  padding-top: 1em;
}
.small-contact a {
  color: var(--color-primary);
}
.small-contact a:hover {
  color: var(--color-primary);
  text-decoration: none;
}
.small-contact a:focus {
  color: var(--color-secondary-2);
  text-decoration: none;
}
.whitespace {
  width: 1px;
}
article li {
  margin-left: 2em;
}
article ul {
    padding-bottom: 1.5em;
}
/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */

header,
nav,
nav a,
article,
aside,
footer {
	padding: 1em;
	margin: 0em;
	flex: 1 100%;
	align-items: left;
  justify-content: flex-start;
}
#logo {
  flex: 1 auto;
  width: 95%;
  color: #ffffff;
  padding: 1em;
  padding-bottom: 0.1em;
}
header {
	background: #ffffff;
	-webkit-flex-flow: column;
	display: flex;
	flex-flow: column;
	padding: 0em;
  align-items: center;
  justify-content: center;
}
header * {
	flex: 1 1 0%;
}
header nav {
	flex: 1 1 0%;
	min-width: 100%;
	background: var(--color-primary);
}
nav,
nav ul,
nav li {
	margin: 0;
	padding: 0;
	border: none;
}

nav ul {
	display: flex;
	flex-direction: column;
}

nav li {
	list-style-type: none;
	margin: 0.3em 0;
	flex: 1 1 0%;
}
nav a {
	display: inline-block;
	width: 95%;
  padding: 0.5em;
	border-bottom: solid 0.1em;
	border-color: var(--color-primary);
	margin: 0.5em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #ffffff;

}
footer a {

	width: 95%;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
	border-bottom: solid 0.1em;
	border-color: var(--color-primary);
	margin: 0.5em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #ffffff;

}

footer a:focus,
nav a:focus {
color: var(--color-secondary-2);
	text-decoration: none;
	border-bottom: solid 0.1em;
}
footer a:hover,
nav a:hover {
	text-decoration: none;
	border-bottom: solid 0.15em;
}
.drop-sub {
  width: 90%;
  background-color: var(--color-primary-3);
  margin-left: auto;
  margin-right: 0;
}
.drop-sub a {
  margin: 0;
  padding: 0.1em;
  color: #ffffff;
  border: none;
}
ul ul li a {
  background-color: var(--color-primary-3);
}
ul ul li a:hover {
  background-color: var(--color-primary);
  border: none;
}
article {
	background: #ffffff;
	text-decoration: none;
	color: var(--harmonious-dark);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
article p {
  margin: 0em;
}
aside img {
  width: 100%;
  height: auto;
}
input {
  border: 0.1em solid;
  border-radius: 0.2em;
  border-color: var(--harmonious-dark);
  background-color: var(--harmonious-light);
  padding: 0.5em;
  width: 100%;
  color: var(--harmonious-dark)
}
input:focus {
  background-color: #ffffff;
}
textarea {
  border: 0.1em solid;
  border-radius: 0.2em;
  border-color: var(--harmonious-dark);
  background-color: var(--harmonious-light);
  padding: 0.5em;
  width: 100%;
  color: var(--harmonious-dark);
  font-family: Hind, sans-serif;
  font-size: 1em;
}
textarea:focus {
  background-color: #ffffff;
  padding: 0.5em;
  width: 100%;
}
aside {
	background-color: #ffffff;
	text-decoration: none;
	color: var(--harmonious-dark);
  min-width: 0;
}
footer {
	background: var(--color-primary);
	display: flex;
	flex-flow: row wrap;
}
footer * {
	flex: 1 1 0%;
	color: #ffffff;
}
footer p {
	text-align: center;
	color: #ffffff;
  padding: 0.5em;
  margin: 0.5em;
}
}

/* Smart Phones und Tablets mit mittlerer Auflösung */

@media all and (min-width: 35em) {
article {
	flex: 4 1 0%;
  min-width: 35em;
}
aside {
 flex: 1 1 0%;
}
.submenu {
  position: relative;
}
nav ul ul {
 margin: 0;
 padding: 0;
 position: absolute;
 font: 0/0 serif;Unternavigation ausblenden
 z-index: -1;
 background-color: var(--color-primary-3);
}
.drop-sub li {
 color: var(--harmonious-light);
}
.drop-sub li a {
  color: var(--harmonious-light);
  border-bottom: 0.1em;
  border-color: var(--color-primary-3);
}
nav ul li:hover ul {
 font: inherit;
 display: block;
 width: 150%;
 z-index: auto;
}
}
/* Large screens */

@media all and (min-width: 70em) {
header {
 flex-flow: row wrap;
}
article {
 flex: 2 1 0%;
 min-width: 35em;
 padding-left: 4em;
}
aside {
 flex: 1 1 0%;
 min-width: 20em;
}
img {
  max-width: 50em;
  height: auto;
}
.left {
  padding-left: 4em;
}
.submenu {
  position: relative;
}
.drop-sub {
  background-color: var(--color-primary);
}
.drop-sub a {
  padding: 0.5em;
}
article {
  padding-right: 20%;
}
.contact {
  padding-right: 5em;
}
nav ul ul {
 margin: 0;
 padding: 0;
 position: absolute;
 font: 0/0 serif;Unternavigation ausblenden
 z-index: -1;
 background-color: var(--color-primary-3);
}
nav ul li:hover ul {
 font: inherit;
 display: block;
 width: 150%;
 z-index: auto;
}
#logo {
  width: 40%;
  padding: 2em;
}
div.small-contact {
  padding-right: 2em;
}
nav ul {
		flex-direction: row;
}
nav li {
		margin: 0 0.5em;
		flex: 1 1 0%;
}
footer {
}
}


@media all and (min-width: 120em) {
#logo {
  width: 20%;
}
article {
  padding-right: 40%;
}
.contact {
  padding-right: 5em;
}
}
